<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Biodata</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Biodata</h1>
    <img src="{{ url_for('static', filename='img/pasfoto.png') }}" alt="Foto saya" width="300">   
    <p>Nama: M. Luthfi Firdaus</p>
    <p>Tempat, Tanggal Lahir: 29 Agustus 2006 </p>
    <p>Alamat: Asrama Unpad Balewilasa 9 </p>
    <nav>
        <a href="{{ url_for('home') }}">Home</a> |
        <a href="{{ url_for('Aboutme') }}">About Me</a> |
        <a href="{{ url_for('kontak') }}">Kontak</a>
        <a href="{{ url_for('Project') }}">Project</a>
    </nav>
</body>
</html>
